
body {
    font-family: 'Titillium Web', sans-serif;
    /*background-color: hsl(243, 18%, 24%); */
}

.main-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 1.8rem;
    font-weight: bold;
}
  

